<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fa-solid fa-user" style="color: #ffffff;"></i> -->
            <i class='fa-solid fa-user-large' style='color: white'></i>
        </div>
        <div class="sidebar-brand-text mx-3">Cakrawala</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Master
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" collapsed" href="/admin/category"  data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" -->
            <!-- aria-expanded="true" aria-controls="collapseTwo"> -->
            <i class="fas fa-fw fa-list-alt "></i>
            <span>Category</span>
        </a>
        <a class="nav-link" collapsed" href="/admin/bank"  data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <!-- <a class="nav-link"> -->
            
            <i class="fas fa-fw fa-money-check"></i>
            <span>Bank</span>
        </a>
        <a class="nav-link" collapsed" href="/admin/item"  data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-table"></i>
            <span>Item</span>
        </a>
        
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        ORDER
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
   

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/booking">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Booking</span></a>
    </li>

    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>